@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white overflow-hidden;
}

.element {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}
